.Login {
  .ant-layout {
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
  }

  .ant-card-head-title {
    white-space: normal;
  }
  .ant-input-affix-wrapper:focus,
  .ant-input-affix-wrapper-focused {
    border-color: #005bea;
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(230, 158, 24, 0.2);
    box-shadow: 0 0 0 2px rgba(230, 158, 24, 0.2);
  }

  .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
    border-color: #005bea;
    border-right-width: 1px !important;
    z-index: 1;
  }

  .ant-btn-primary {
    background-image: linear-gradient(
      to right,
      #00c6fb 0%,
      #005bea 51%,
      #00c6fb 100%
    );
  }
  .ant-btn-primary {
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    display: block;
  }

  .ant-btn-primary:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
}
