.CLayout {
  .ant-breadcrumb a:hover {
    color: #005bea;
  }

  .ant-input.ant-input-login:focus {
    border-color: #005bea;
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(230, 158, 24, 0.2);
    box-shadow: 0 0 0 2px rgba(230, 158, 24, 0.2);
  }

  .ant-btn-dashed.ant-btn-login {
    color: #fff;
    background: #005bea;
    border-color: #005bea;
    border-style: dashed;
  }

  .ant-btn.ant-btn-login:hover,
  .ant-btn.ant-btn-login:focus {
    color: #005bea;
    border-color: #005bea;
  }

  .ant-layout-sider,
  .ant-menu.ant-menu-dark,
  .ant-menu-dark .ant-menu-sub,
  .ant-menu.ant-menu-dark .ant-menu-sub {
    background: #005bea;
  }

  .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
  .ant-menu-submenu-active {
    color: #ffffff;
  }

  .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal)
    .ant-menu-item-selected {
    background-color: #5e96ed !important;
  }

  .ant-layout-sider-trigger {
    background: #053581;
  }

  .ant-menu-dark .ant-menu-item-selected .ant-menu-item-icon + span,
  .ant-menu-dark .ant-menu-item-selected .anticon + span {
    font-weight: 600;
  }

  .ant-layout-footer,
  .ant-layout-header {
    background: #ffffff;
  }

  .ant-layout-header {
    height: 74px;
    line-height: 74px;
    padding: 0 16px;
  }

  .ant-layout-footer {
    padding: 13.2px 50px;
  }

  .scroll {
    height: 300vw;
  }

  @media (min-width: 992px) {
    .menu {
      display: none;
    }
    .navbar {
      display: none;
    }
  }

  .logo {
    text-align: center;
    color: #005bea;
    font-weight: 700;
    padding: 1rem;
    background: #FFF;
    border: 2px solid #005bea;
  }
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #5e96ed !important;
}

.ant-drawer-body {
  padding: 0;
}
.ant-drawer-content {
  background-color: #00152a;
}

@media (max-width: 992px) {
  .ant-layout-sider,
  .toggle {
    display: none;
  }
}

.ant-table-column-sorters {
  display: flex;
  flex: auto;
  align-items: center;
  padding: 16px 16px;
  justify-content: space-between;
}
